* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  padding: 20px;
  text-align: center;
  background-color: antiquewhite;
}

.navbar a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar a:hover {
  background-color: darksalmon;
  border-radius: 20px;
  transition: 0.5s;
}

h3 {
  padding: 80px;
  text-align: center;
  background-color: blanchedalmond;
}

.active {
  background-color: darksalmon;
  border-radius: 20px;
}
